.top {
  display: flex;
}

/* top left */
.top .top-left {
  width: 50%;
}
.top .top-left h2 {
  margin-left: 5%;
}

/* top right */
.top .top-right {
  width: 50%;
  text-align: right;
}

.top .top-right .fab {
  margin-top: 5%;
  padding-right: 6%;
}

.top .top-right .icon {
  text-decoration: none;
}
